# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* Popular languages for Data Science.
* Common libraries
* Data Science Tools
* Arithmatic operations
* Markdown cell in python

Some of the popular languages that Data Scientist use are:
    
    1. Python.
    2. Java.
    3. Julia.
    4. C++.

Some of the commonly used by Data Scientists include:
    
    1. pandas.
    2. numpy.
    3. ggplot.

|Data Science Tools|
--------------------
|Anaconda|
|JupyterLab|
|RStudio|

### Below are few examples of evaluating arithmatic expression in Python

In [1]:
# This is a simple arithmatic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Debjani Das Gupta